* {
				box-sizing: border-box;
			}

			html, body {
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				font-family: Arial, sans-serif;
				font-size: 16px;
				background: #444;
				overflow: hidden;

			}
			#canvas {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				font-size: 24px;
			}
			#image_main {
				background-color: #000;
			}

			#menu {
				bottom: 0;
    		background: #000000;
			}

			.menu {
				position: fixed;
				left: 0px;
				bottom: 0;
    		padding: 5px;
    		font-size: 14px;
    		line-height: 16px;
    		background: #000000;
				right: 0;
				border-right: 1px solid #000;
				color:#FFF;
				text-align: center;
				white-space: nowrap;
    		overflow-y: hidden;
    		overflow:scroll;
    		z-index: 5;
    		transition: all 0.2s ease-in-out;
			}

			.submenu {
				display: none;
				bottom: 28px;
				transform: translateY(600%);
			}

			.menu_item {
				display: inline-block;
				text-align: center;
				opacity: 0.5;
				min-width: 20%;
				
				text-overflow: ellipsis;
  			overflow: hidden; 
  			white-space: nowrap;
				padding: 5px;
				transition: all 0.2s ease-in;
				text-overflow: ellipsis;
			}

			.menu_item.selected {
				opacity: 1;
			}

			.menu_item > img {
				width: 24px;
				height: 24px;
			}



			.menu_item > input {
				margin: 10px auto;
				display: none;
			}

			input[type="range"] {
				display: block;
			}

			/* SLIDER */

			.slider {
			  -webkit-appearance: none;
			  width: 90%;
			  height: 2px;
			  background: #FFF;
			  outline: none;
			  opacity: 0.7;
			  -webkit-transition: .2s;
			  transition: opacity .2s;
			  border-radius: 5px;
			  margin: 0 auto;
			}

			.slider:hover {
			  opacity: 1;
			}

			.slider::-webkit-slider-thumb {
			  -webkit-appearance: none;
			  appearance: none;
			  width: 20px;
			  height: 20px;
			  border-radius: 50%;
			  background: #FFF;
			  cursor: pointer;
			}

			.slider::-moz-range-thumb {
			  width: 20px;
			  height: 20px;
			  border-radius: 50%;
			  background: #C0C0C0;
			  cursor: pointer;
			}

			/* END SLIDERS */

			input[type="file"] {
				display: none;
			}

			#image_main {
				max-width: 100%;
				max-height: 80%;
				transition: opacity 0.2s ease-in-out;
			}

			#image_main.loading {
				opacity: 0.5;
			}

	  .main {
	  	background: #73abff;
	  }

	  .warning {
	  	background: #ff7973;
	  }

	  /* ADJUST MENU */
	  .adjust_menu {
	  	position: fixed;
	    bottom: -100px;
	    left: 0;
	    right: 0;
	    background: rgba(20, 20, 20, 0.7);
	    display: none;
	    transition: all 0.2s ease-in-out;
	  	max-height: 100px;
	  	overflow-x: scroll;

	  }

	  .adjust_item {
	  	padding: 10px;
	  	margin: auto; /*10px;*/
	  }

	  .adjust_item > .text {
	  	color: #FFFFFF;
	  	text-align: center;
	  	margin: 5px auto;
	  	font-size: 1rem;
	  	padding-bottom: 10px;
	  	text-overflow: ellipsis;
  		overflow: hidden;
	  }

	 

	  #overlay {
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	right: 0;
	  	bottom: 0;
	  	z-index: 3;
	  	display: table;
	  	width: 100%;
	  	height: 100%;
	  	
	  	opacity: 0;
	  	display: none;
			transition: all 0.2s ease-in;
	  }

	  #popup {
	  	display: table-cell;
	  	vertical-align: middle;
	  }

	  #popup-container {
	  	max-width: 600px;
	  	margin: 1rem;
	  	background: #FFF;
	  	box-shadow: 0px 0 14px 6px #6d6d6d;
	  	border-radius: 3px;
	  }

	  #popup-header {
	  	padding: 1rem;
	  	text-align: center;
	  	font-size: 1.2rem;
	  	border-bottom: 1px solid #CCC;
	  }

	  #popup-body {
	  	padding: 1rem;
	  	text-align: justify;
	  	font-size: 1rem;
	  	color: #444;
	  }

	  #popup-bottom {
	  	padding: 1rem;
	  	text-align: right;
	  	font-size: 1rem;
	  }

	  .green {
	  	color: #4cff7e;
	  }

	  .warn {
	  	color: #f7ff00;
	  }

	  #top-bar {
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	right: 0;
	  	text-align: center;
	  	
	  	background: rgba(0, 0, 0, 0.5);
	  }

	  #topbar > div {
	  	display: inline-block;
	  }

	  /* CANTIDAD */
	  #cantidad {
	  	display: inline-block;
	  	margin:;
	  	font-size: 16px;
	  	font-weight: 200;
	  	z-index: 3;
	  	color: #FFF;
	  	padding: 8px;
	  }

	  #cantidad.hidden {
	  	opacity: 0.0;
	  }

			/* BUTTON STYLING */
		.button {			
	    border: 0;
	    padding: 5px;
	    text-align: center;
	    display: inline;
	    cursor: pointer;
	  	font-size: 1rem;
	  	margin: 5px;
	  	color: #FFF;
	  	background: #2e9cd6;
	  	border-radius: 2px;
	  }

	  .button-secondary {
	  	background: #676767;
	  }

	  .left {
	  	float: left;
	  }

	  .right {
	  	float: right;
	  }

	  ::-webkit-scrollbar {
		  width: 0px;
		  height: 0px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		  background: #f1f1f1; 
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #888; 
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: #555; 
		}

		#slider_adjust {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0px;
			background: #000000;
			z-index: 6;
			padding: 2rem;
			display: none;
		}

		#slider_adjust input[type=range] {
			margin: 1rem auto;
		}

		#slider_adjust_info {
			text-align: center;
			color: #FFFFFF;
		}